<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 拨打/接听SIP电话 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission
        android:name="android.permissions.READ_PHONE_NUMBERS"
        tools:ignore="SystemPermissionTypo" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <!-- 更改您的音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 接听来电 -->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <!--接听、挂断电话-->
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <!-- 接收讯息 (WAP) -->
    <uses-permission
        android:name="android.permission.BIND_INCALL_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <!-- 发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 读取通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCESSIBILITY"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 重新设置外拨电话的路径 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 新建/修改/删除通话记录 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--录音-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Lmbank">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PeopleActivity" />

        <activity-alias
            android:name="Phone"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_phone"
            android:label="@string/app_phone"
            android:targetActivity=".activity.PeopleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.PhoneCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.PhoneCallService"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_RINGING"
                android:value="false" />
            <meta-data
                android:name="android.telecom.INCLUDE_EXTERNAL_CALLS"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
    </application>
</manifest>
